﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <center>
            <center>
                <h1 class="display-4">Welcome to my web page</h1>
                <img class="img-thumbnail" src="~/Img/1.jpg" />
            </center>
        </center>

        <h2>Welcome</h2>

      
    </div>
