﻿@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>


<form class="align-baseline" asp-area="" asp-controller="Home" asp-action="SendDetails">
 
    <div class="container">


        <table>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Username:
                    </label>
                </td>
                <td colspan="2">
                    <input type="text" name="username" placeholder="Username" class="form-control" required>
                </td>
            </tr>
            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Password:
                    </label>
                </td>
                <td colspan="2">
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </td>
            </tr>

        </table>

        <p class="nav-link text-danger">@ViewData["Message"]</p>

        <button class="btn-primary" type='submit' name='login'>Login</button>




    </div>
    
</form>