﻿@{
    ViewData["Title"] = "Registeration";
}
<h1>@ViewData["Title"]</h1>

<center>
    <p class="text-danger">Please fill out the Forms</p>
</center>

<form style="border:1px solid #cccccc; padding:2px;"    asp-area="" asp-controller="Home" asp-action="GetDetails">
 
    <center>
        <table class="form-group">

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        First Name:
                    </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Fname" placeholder="First Name" class="form-control" required>
                </td>
            </tr>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Second Name:
                    </label>
                </td>
                <td colspan="2">
                    <input style="width:250px;" type="text" name="Sname" placeholder="Second Name" class="form-control" required>
                </td>
            </tr>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Email:
                    </label>
                </td>
                <td colspan="2">
                    <input style="width:250px;" type="email" name="email" placeholder="Email Address" class="form-control" required>
                </td>
            </tr>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Date of Birth:
                    </label>
                </td>
                <td colspan="2">
                    <input style="width:250px;" type="datetime-local" name="Dob" placeholder=" Date of Birth" class="form-control" required>
                </td>
            </tr>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Gender:
                    </label>
                </td>
                <td colspan="2">
                    <input style="width:250px;" type="text" name="gen" placeholder="Male | Female" class="form-control" required>
                </td>
            </tr>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Username:
                    </label>
                </td>
                <td colspan="2">
                    <input style="width:250px;" type="text" name="usn" placeholder="BadMAn" class="form-control" required>
                </td>
            </tr>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Password:
                    </label>
                </td>
                <td colspan="2">
                    <input style="width:250px;" type="password" name="pwd" placeholder="Password" class="form-control" required>
                </td>
            </tr>

            <tr style="padding:15px">
                <td>
                    <label style="padding:15px">
                        Confirm Password:
                    </label>
                </td>
                <td colspan="2">
                    <input style="width:250px;" type="password" name="cpwd" placeholder="Confirm Password" class="form-control" required>
                </td>
            </tr>

        </table>

        <p class="nav-link text-danger">@ViewData["Message"]</p>

        <button class="btn-primary" type='submit' name='register'>Register</button>

    </center>

    
</form>